.container {
  border: 1px solid transparent;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, .85);

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.header {
  min-height: 48px;
  margin-bottom: -1px;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-size: 16px;
  background: 0 0;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.body {
  padding: 24px;

  p {
    margin: 0;
  }
}

.hasBorder {
  border: 1px solid #f0f0f0
}

.hasHover {
  transition: box-shadow .3s,
    border-color .3s,
    -webkit-box-shadow .3s;
  cursor: pointer;

  &:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16),
      0 3px 6px 0 rgba(0, 0, 0, .12),
      0 5px 12px 4px rgba(0, 0, 0, .09);
  }
}
