*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0f0f0f;
}

.main {
  margin-left: 256px;
  padding: 24px 48px;
}
